{% extends 'base.html' %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="display-4 text-center">LATEST POSTS</div><br><br>
    <div class="row m-3">
        {% for article in articles %}
        <div class="col-sm-12 col-lg-6">
            <div class="m-3 text-center">

                <div class="lead text-uppercase">
                    <a style="color: inherit; text-decoration:none;"
                      href="{% url 'detail' article.slug %}">{{ article.title }}
                    </a>
                </div>
                <p class="lead"><em>({{ article.date|date:"Y m d"}})</em></p>
                <div>
                    <a href="{% url 'detail' article.slug %}">
                        <img class="img-fluid mb-2" src="{{ article.thumb.url }}"/>
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}